<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col">
    <div class="flex flex-row-reverse justify-between items-start">
      <div>
        <%= form.label :project_id, "Project" %>
        <%= form.collection_select :project_id, Project.all, :id, :name, { prompt: "Select a project" } %>
        <div class="flex flex row mt-3">
          <%= form.label :completed, style: "display: block" %>
          <%= form.checkbox :completed, class: "ml-3"%>
        </div>
      </div>
      <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: "border border-black-10 rounded"  %>
      </div>

    </div>
    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.textarea :description, class: "border border-black-10 rounded resize-none w-115 h-50" %>
    </div>

    <div class="btn-primary text-center">
      <%= form.submit%>
    </div>
  </div>
<% end %>
