<div id="<%= dom_id task %>" class="flex flex-col gap-3 border rounded p-4 mb-4 max-w-md transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
  <div>
    <p>
      Project:
      <%= task.project&.name || "No Project" %>
    </p>
  </div>
  
  <div>
    <h2 class="text-xl font-bold">
      <%= task.title %>
    </h2>
  </div>

  <div>
    <p><%= task.description %></p>
  </div>

  <div>
    <% if task.completed==false%>
      <p class="text-orange-700">Pending</p>
    <%else%>
      <p class="text-green-600">Completed</p>
    <%end%>
  </div>

  <div>
    <p>
      <%= link_to "Show this task", task, class: "btn-primary"%>
    </p>
  </div>
</div>
