<%= link_to task_path(task), class: "block w-full max-w-lg" do%>
  <div id="<%= dom_id task %>" class="task-card">
    <div>
      <p>
        Project:
        <%= task.project&.name || "No Project" %>
      </p>
    </div>
    
    <div>
      <h2 class="text-xl font-bold">
        <%= task.title %>
      </h2>
    </div>

    <div>
      <p><%= task.description %></p>
    </div>

    <div>
      <% if task.completed==false%>
        <p class="text-orange-700">Pending</p>
      <%else%>
        <p class="text-green-600">Completed</p>
      <%end%>
    </div>
  </div>
<%end%>
