<% content_for :title, "Showing project" %>

<div class="max-w-4xl mx-auto px-4 mt-10">
  <h1 class="text-3xl font-bold mb-2">
    <%= @project.name %>
  </h1>
  <h2 class="text-2xl font-bold mb-4">Tasks</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
    <% @project.tasks.each do |task| %>
      <div class="border rounded-lg p-4 min-h-32 hover:shadow-lg hover:-translate-y-1 transition-all">
        <h3 class="text-xl font-bold mb-2"><%= task.title %></h3>

        <% if task.completed %>
          <p class="text-green-600">Completed</p>
        <% else %>
          <p class="text-orange-700">Pending</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center gap-2">
    <%= link_to "Edit this project", edit_project_path(@project), class: "btn-secondary" %>
    <%= link_to "Back to projects", projects_path, class: "btn-secondary" %>
    <%= button_to "Destroy this project", @project, method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>